<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    
</head>
<body>
<style>
body{
background-color:hsl(249, 20%, 14%);
text-align:center;
}
h1{
color:#ff702a;
text-align:center;
}
p{
color:#fff;
text-align:center;
}
</style>
    <div class="container">
        <h1>Error</h1>
        <p>Please try again later or contact support for assistance.</p>
    </div>
</body>
</html>
